.container {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  align-items: center;
  height: 90vh;
  background-image: url("../assets/fondoInicio.jpeg");
  background-size: cover;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.95); /* White with 90% opacity */
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-family: Arial;
  position: relative;
}
.step-indicator {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between; /* Default for two buttons */
}

.button-container.single-button {
  justify-content: flex-end; /* Align single button to the end */
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #7C982F;
  color: white;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

button:hover {
  background-color: #98BA3B; /* Slightly darker green */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}