/* FormWrapper.module.css */
.title {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
}

.content {
  padding: 4rem;
  display: grid;
  gap: 1rem 0.5rem;
  justify-content: center;
  grid-template-columns: auto minmax(auto, 400px);
}
.content > label {
  font-size: clamp(1.7rem, 2vh, 2.2rem);
  margin-right: 1rem;
}

.content > input,
.content > select,
.content > label > input  {
  font-size: clamp(1.4rem, 2vh, 2.2rem);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.content > select > option[value=""] {
  color: gray;
}
